<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <!-- 配置spring mvc前端控制器 -->
    <servlet>
        <servlet-name>frontController</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <!-- 通过此参数的配置加载spring配置文件，然后初始化资源 -->
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-configs.xml</param-value>
        </init-param>
        <!--让tomcat启动则加载此servlet对象，数值越小优先级越高 -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- 配置Spring MVC前端控制器映射(servlet映射) -->
    <servlet-mapping>
        <servlet-name>frontController</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
</web-app>
